#header {
  background: url(../img/responsive/header.png) repeat-x #0060ac;
  height: 108px;
}
#header img {
  display: block;
  margin: 0 auto;
  padding-top: 1em;
}
#content_bg {
  width: 100%;
  max-width: 960px;
}
#footer-sher {
  background: #0060ac repeat-x;
  color: #fff;
  width: 100%;
  min-width: 100px;
  text-align: center;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.error {
  color: #f99500 !important;
}
